*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)),url(img/bg.webp)
}
section{
    padding:2rem 7%;
}
p{
    font-size: 20px;
}
/*header*/
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #b1ceb3;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    flex-wrap: wrap;
    border: #000000;
    border-bottom: 1px solid rgb(13, 34, 13);
  }
  nav .logo{
    align-content:flex-start;
    color:rgb(0, 0, 0);
    font-size: 1.25rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  nav .logo a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
}
  nav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
 nav ul li a:hover{
    color: rgb(227, 211, 211);
    background: rgb(63, 77, 58);
  }
 nav .menu-btn i{
    color: rgb(9, 7, 7);
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
input[type="checkbox"]{
    display: none;
  }
/*homepage*/

.c1 h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.c1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-bottom: 20px;
}
.c1 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    font-weight:200;
    font-size: 25px;
     
}
.c1{
    padding-top: 50px;
    min-width: 100%;
    margin-top: 20px;
   background:rgb(130, 153, 134);
    border: 1px;
    background:linear-gradient(rgba(93, 101, 90, 0.6),rgba(179, 190, 178, 0.6)) ;
    border: 1px solid rgb(67, 79, 67);
  }
.c2 h2 {
    text-align:center
}

#hero{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(188, 176, 176, 0.6),rgba(191, 183, 183, 0.6)),url(img/bg1.webp);
    background-size:cover;
    background-position: center ;
}
#container h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: bolder;
}
#container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#container .container1 p{
    font-size: 17px;
    text-align: justify;
    text-indent: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.ol1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    list-style-position: inside;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ol1 ul{
    list-style-type: square;
  
}
.container1{
    margin-left: 100px;
    margin-right:100px ;
    background:linear-gradient(rgba(102, 114, 96, 0.6),rgba(107, 133, 105, 0.6)) ;
    border-radius: 4px;
    border: 3px solid rgb(16, 19, 16);
}

/*teaplantation*/
.container2{
display:grid;
grid-template-columns: 0.5fr 1fr 0.5fr;
grid-template-rows: 1fr ;
row-gap: 5px;
column-gap: 15px;
justify-content:space-between;
}
#container2 h2{
    text-transform: uppercase;
}
.hero2{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(134, 118, 118, 0.6),rgba(124, 94, 94, 0.6)),url(img/bg2.webp);
    background-size:cover;
    background-position:center ;
}
.container2 img{
    min-width: 100%;
    border-radius: 5px;
    
}
#container2 h4{
    text-align: justify;
    text-transform: uppercase;
}
.container2 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.container2 iframe{
   height:100%;
 width:100%;
}

#tea{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    border: 1px solid rgb(13, 12, 12);
    font-size: 15px;
    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
#tea td{

      height: 100px;
      border:1px solid black;
    
}
#tea td ul{
    list-style-position: inside;
}
#tea thead {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #3b5b4f;
      color: rgb(255, 255, 255);
      border: 1px  #3b5b4f;
    }
    #tea ol{
      padding-left: 50px;
    }
.container2{
        margin-top: 10px;
        margin-bottom:50px ;
        margin-left: 50px;
        margin-right:50px ;
        border-radius: 16px;
        background:linear-gradient(rgba(138, 153, 131, 0.6),rgba(131, 164, 129, 0.6)) ;
        border: 3px solid rgb(16, 19, 16);
}
#tea .fig1{
    text-align: center;
    font-size: 15px;
   
}
#tea tbody tr:nth-child(1){
    background-color: #d5dfcb;
}
#tea tbody tr:nth-child(2){
    background-color: #cbd4c2;
}
#tea tbody tr:nth-child(3){
    background-color: #d3dcca;
}
#tea td, #tea th {
    border: 1px solid rgb(144, 138, 138);
    padding: 8px;
 }
#container2 h2{
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}
.container2 img{
    width: 100%;
  height:100%;
}
/*ceylon tea museum*/

.container3 img{
    border-radius: 6px;
    min-width: 100%;
    height: 100%;
}
.heading3{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.map iframe{
    padding-top: 5px;
    height:100%;
    width:100%;
    }

.container3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr ;
   row-gap: 10px;
   column-gap: 100px;
    margin-top: 10px;
    margin-bottom:50px ;
    margin-left: 110px;
    margin-right:110px ;
    border-radius: 16px;
    background:linear-gradient(rgba(138, 153, 131, 0.6),rgba(131, 164, 129, 0.6)) ;
    border: 3px solid rgb(16, 19, 16);
}
.hero3{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(42, 37, 37, 0.6),rgba(43, 38, 38, 0.6)),url(img/bg3webp.webp);
    background-size:cover;
    background-position:center ;
}
.button3{
    background-color: #0c1b0c; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

/*by-products*/
.container4 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
border-radius:6px;
}
.container4 p{
padding-top: 50px;
padding-bottom: 50px;
}
.button {
    background-color: #0c1b0c; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 10px;
    margin-left: auto;
   margin-right: auto;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    top: 50%;
    left: 50%;
}
.container4{
    margin-top: 50px;
    margin-bottom:50px ;
    margin-left: 110px;
    margin-right:110px ;
    border-radius: 16px;
    background:linear-gradient(rgba(138, 153, 131, 0.6),rgba(131, 164, 129, 0.6)) ;
    border: 3px solid rgb(16, 19, 16);
}
.hero4{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(56, 74, 29, 0.6),rgba(35, 70, 37, 0.6)),url(img/bg4.webp);
    background-size:cover;
    background-position:center ;
}
.tea-link {
    padding-top: 10PX;
    font-size: 20PX;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50PX;
}
.button2{
    background-color: rgb(60, 118, 65);
    border: 2px rgb(12, 25, 2);
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 10PX;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*purchase&donation*/
.Hero5{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(141, 107, 107, 0.6),rgba(182, 147, 147, 0.6)),url(img/bg5.webp);
    background-size:cover;
    background-position:center ;
}
input[type=text] {
    margin-left: 50px;
    padding: 12px 20px;
    margin: 10px 0;
    display: block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.container5{
  margin-top: 110px;
  margin-bottom:20px ;
  margin-left: 100px;
  margin-right:100px ;
  border-radius: 6px;
  background:linear-gradient(rgba(138, 151, 133, 0.6),rgba(179, 190, 178, 0.6)) ;
  border: 3px solid rgb(16, 19, 16);
}

.c2{
text-align: center;
margin-top: 10px;
margin-bottom:50px ;
margin-left: 500px;
margin-right:500px ;
border-radius: 4px;
background:linear-gradient(rgba(138, 153, 131, 0.6),rgba(131, 164, 129, 0.6)) ;

}
form{
    margin: 0px;
}
.box{
display:grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows:  1fr 1fr ;
column-gap: 15px;
row-gap: 15px;
padding-top: 20px;
}
.box-container{
    border:2px solid rgb(20, 53, 28);
    border-radius: 6px;
    text-align: center;
}
.box-container p{
 padding-bottom: 10px;

}

form .button3{
    background-color: #0c1b0c; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

/*images*/
.img1{
    border-radius: 6px;
    max-width:100%;
}
img{
    border-radius: 6px;
}
.img2{
    border-radius: 5px;
    display: block;
    margin-left: 130px;
    margin-right: 100px;
    
}
/*footer*/
footer .links a{
padding:.5rem 2rem;
color:rgb(33, 66, 31);
font-size: 15px;
text-decoration: none;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .links a:hover{
    color:black;
}
footer{
    background:#b1ceb3;
    height:auto;
    width:100%;
    font-family:40px;
    color: rgb(33, 66, 31);
}
.footer-content{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
}
.footer-content h4{
 text-transform: capitalize;
    line-height: 3rem;
  align-items: center;
}
.socials{
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
   
    margin:0 10px;
}
.socials a{
    color: rgb(33, 66, 31);
}


/*media queries*/
@media(max-width:1500px){
    .tea-link {
        font-size: 15PX;
     font-family:Arial, Helvetica, sans-serif;
     
     }
     .button2{
         display: block;
         padding: 10px;
         margin-top: 30PX;
     }
}
@media(max-width:1400px){
    footer .links a{
        display: block;
 }
 .container3{
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5(1fr) ;
  }
  .box{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 3(0.5fr);
    
  }
}
@media(max-width:1250px){

    nav ul li a{
        font-size: 10px;
    }
    nav .logo{
        font-size: 1rem;
      
    }
   
 nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position:fixed;
    top: 80px;
    left: -100%;
    background: rgb(120, 169, 131);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: rgb(10, 12, 12);
  }
  
}
@media (max-width: 1034px){
    nav{
      padding: 0 20px 0 50px;
    }
  
/*home page*/
.c1{
        align-items: center;
       }
       .c1 h1{
           font-size: 25px;
       }
       .c1 p{
           font-size: 15px;
       }
       .container1{
           margin-left: 30px;
           margin-right: 30px;
       }
    .tea-link {
        font-size: 15PX;
     font-family:Arial, Helvetica, sans-serif;
     
     }
     .button2{
         display: block;
         padding: 10px;
         margin-top: 30PX;
     }
    }

@media (max-width:800px) {
    /*home page*/
    .c1{
     align-items: center;
    }
    .c1 h1{
        font-size: 25px;
    }
    .c1 p{
        font-size: 15px;
    }
    .container1{
        margin-left: 30px;
        margin-right: 30px;
    }
  /*teaplantation*/
 .container2{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 5px ;
    margin-right: 5px;
 }
 .container2 p{
    font-size: 14px;
    text-align: justify;
 }
 #tea{
    margin-left: 10px;
    margin-right: 10px;
 }
 /*ceylon tea museum*/
 .container3{
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9(1fr) ;
 }
 .container3 img{
    margin-left: auto;
    margin-right: auto;
 }
 /*by products*/
 .container4{
    margin-left: 15px;
    margin-right: 15px;
 }
 .container4 h3{
    padding-bottom: 5px;
 }
 /*purchase and donation*/
.container5{
    margin-left:20px;
    margin-right: 20px;
}
.box{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 3(0.5fr);
    
}
.box-container{
 margin-right:15px ;
 font-size: small;
   
}
footer .links a{
       display: block;
}
.img2{
    margin-left: auto;
    margin-right: auto;
}
.tea-link {
   font-size: 15PX;
font-family:Arial, Helvetica, sans-serif;

}
.button2{
    display: block;
    padding: 10px;
    margin-top: 30PX;
}
}

@media  (max-width:900px)  {
      /*home page*/
    .c1{
        align-items: center;
       }
       .c1 h1{
           font-size: 25px;
       }
       .c1 p{
           font-size: 15px;
       }
       .container1{
           margin-left: 30px;
           margin-right: 30px;
       }
     /*teaplantation*/
    .container2{
       display:grid;
       grid-template-columns:1fr;
       grid-template-rows: 1fr 1fr 1fr;
       justify-content: center;
       margin-left: 5px ;
       margin-right: 5px;
    }
    .container2 p{
       font-size: 14px;
       text-align: justify;
    }
    #tea{
       margin-left: 10px;
       margin-right: 10px;
    }
    /*ceylon tea museum*/
    .container3{
       align-items: center;
       margin-left: 5px;
       margin-right: 5px;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 9(1fr) ;
    }
    .container3 img{
       margin-left: auto;
       margin-right: auto;
    }
    /*by products*/
    .container4{
       margin-left: 15px;
       margin-right: 15px;
    }
    .container4 h3{
       padding-bottom: 5px;
    }
    /*purchase and donation*/
   .container5{
       margin-left:20px;
       margin-right: 20px;
   }
   .box{
       display:grid;
       grid-template-columns: 0.5fr 0.5fr;
       grid-template-rows: 3(0.5fr);
       
   }
   .box-container{
    margin-right:15px ;
    font-size: small;
      
   }
   footer .links a{
          display: block;
   }
   .img2{
       margin-left: auto;
       margin-right: auto;
   }

.tea-link {
   font-size: 15PX;
font-family:Arial, Helvetica, sans-serif;

}
.button2{
    
    padding: 10px;
    margin-top: 30PX;
}
}
@media (max-width:420px) {
    .c1{
        align-items: center;
       }
       .c1 h1{
           font-size: 25px;
       }
       .c1 p{
           font-size: 12px;
           font-weight: bold;
       }
       .container1{
           margin-left: 5px;
           margin-right: 5px;
       }
}

@media (max-width:380px) {
    /*home page*/
    .c1{
        align-items: center;
       }
       .c1 h1{
           font-size: 25px;
       }
       .c1 p{
           font-size: 12px;
           font-weight: bold;
       }
       .container1{
           margin-left: 5px;
           margin-right: 5px;
       }
    /*teaplantation*/
    #tea{
        margin-left: 5px;
        margin-right: 5px;
        font-size:10px
     }
     .button {
        padding:10px;
        font-size: 8px;
     }
     .box-container h3{
        font-size:10px ;
     }
     .container2{
        margin-left: 2px;
        margin-right:2px ;
     }
     .container2 p{
        font-size: 12px;
        text-align: justify;
        margin-right:2px;
        margin-left:2px;
     }
    .container2 img{
        width: 100%;
        height: auto;
    }
    .tea-link {
       font-size: 15PX;
    font-family:Arial, Helvetica, sans-serif;
    
    }
    .button2{
        
        padding: 10px;
        margin-top: 30PX;
    }
}
@media (max-width:280px) {
.container2 iframe{
    min-width: 50%;
}
   /*home page*/
.c1{
    align-items: center;
   }
   .c1 h1{
       font-size: 20px;
   }
   .c1 p{
       font-size: 10px;
       font-weight: bold;
   }
   .container1{
       margin-left: 5px;
       margin-right: 5px;
   }
/*teaplantation*/
   #tea{
        margin-left: 5px;
        margin-right: 10px;
     }
     .container3 img{
        width: 100%;
        height: auto;
    }
    .container2 iframe{
        height:100%;
        width:100%;
        }
        
        .container4 p{
            font-size: 12px;
        }
        nav{
            padding: 0 50px 0 30px;
      }  
      input[type=text] {
        padding: 2px 0px;
        margin: 0px 0;
        display:inline-block;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        box-sizing: border-box;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .container5 img{
        min-width: 50%;
    }
    .box-container{
        margin-right:auto;
        margin-left: auto
    }
    .container5{
        margin-right:2px;
        margin-left: 2px;
    }
}
 
